#b1 {
  background-color: #E27D60;
  color: blue;
}
#b2 {
  background-color: #85DCB6;
  color: red;
}
#b3 {
  background-color: #E8A87C;
  color: green;
}
#b4 {
  background-color: #41B3A3;
  color: yellow;
}
#h {
  font-size: 1.2em;
}
.box {
  width: 1000px;
  border: 1px;
}
.boxh {
  width: 100px;
  height: 50px;
}
table, td, th {
  border: 1px solid;
}
table {
  border-collapse: collapse;
}
.f1 {
  font-family: "Roboto";
}
.f2 {
  font-family: "Open+Sans";
}
@media (min-width: 1200px) {
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8,
.col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
float: left;
height: 300px;
}
.col-lg-1 {
width: 8.33%;
}
.col-lg-2 {
width: 16.66%;
}
.col-lg-3 {
width: 25%;
}
.col-lg-4 {
width: 33.33%;
}
.col-lg-5 {
width: 41.66%;
}
.col-lg-6 {
width: 50%;
}
.col-lg-7 {
width: 58.33%;
}
.col-lg-8 {
width: 66.66%;
}
.col-lg-9 {
width: 75%;
}
.col-lg-10 {
width: 83.33%;
}
.col-lg-11 {
width: 91.66%;
}
.col-lg-12 {
width: 100%;
}
}
@media (max-width: 1200px) and (min-width: 992px) {
.col-ab-1, .col-ab-2, .col-ab-3, .col-ab-4, .col-ab-5, .col-ab-6, .col-ab-7, .col-ab-8,
.col-ab-9, .col-ab-10, .col-ab-11, .col-ab-12 {
float: left;
height: 300px;
}
.col-ab-1 {
width: 8.33%;
}
.col-ab-2 {
width: 16.66%;
}
.col-ab-3 {
width: 25%;
}
.col-ab-4 {
width: 33.33%;
}
.col-ab-5 {
width: 41.66%;
}
.col-ab-6 {
width: 50%;
}
.col-ab-7 {
width: 58.33%;
}
.col-ab-8 {
width: 66.66%;
}
.col-ab-9 {
width: 75%;
}
.col-ab-10 {
width: 83.33%;
}
.col-ab-11 {
width: 91.66%;
}
.col-ab-12 {
width: 100%;
}
}
@media (min-width: 768px) and (max-width: 992px) {
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8,
.col-md-9, .col-md-10, .col-md-11, .col-md-12 {
float: left;
height: 300px;
}
.col-md-1 {
width: 8.33%;
}
.col-md-2 {
width: 16.66%;
}
.col-md-3 {
width: 25%;
}
.col-md-4 {
width: 33.33%;
}
.col-md-5 {
width: 41.66%;
}
.col-md-6 {
width: 50%;
}
.col-md-7 {
width: 58.33%;
}
.col-md-8 {
width: 66.66%;
}
.col-md-9 {
width: 75%;
}
.col-md-10 {
width: 83.33%;
}
.col-md-11 {
width: 91.66%;
}
.col-md-12 {
width: 100%;
}
}
@media (max-width: 768px) {
.col-rt-1, .col-rt-2, .col-rt-3, .col-rt-4, .col-rt-5, .col-rt-6, .col-rt-7, .col-rt-8,
.col-rt-9, .col-rt-10, .col-rt-11, .col-rt-12 {
float: left;
height: 300px;
}
.col-rt-1 {
width: 8.33%;
}
.col-rt-2 {
width: 16.66%;
}
.col-rt-3 {
width: 25%;
}
.col-rt-4 {
width: 33.33%;
}
.col-rt-5 {
width: 41.66%;
}
.col-rt-6 {
width: 50%;
}
.col-rt-7 {
width: 58.33%;
}
.col-rt-8 {
width: 66.66%;
}
.col-rt-9 {
width: 75%;
}
.col-rt-10 {
width: 83.33%;
}
.col-rt-11 {
width: 91.66%;
}
.col-rt-12 {
width: 100%;
}
}
.f3 {
  font-family: "Montserrat";
}
