#b1 {
  background-color: #E27D60;
  color: blue;
}
#b2 {
  background-color: #85DCB6;
  color: red;
}
#b3 {
  background-color: #E8A87C;
  color: green;
}
#b4 {
  background-color: #41B3A3;
  color: yellow;
}
#h {
  font-size: 1.2em;
}
.box {
  width: 1000px;
  border: 1px;
}
table, td, th {
  border: 1px solid;
}
table {
  border-collapse: collapse;
}
.f1 {
  font-family: "Roboto";
}
.f2 {
  font-family: "Open+Sans";
}
.f3 {
  font-family: "Montserrat";
}
