#b1 {
  background-color: #E27D60;
  color: #678CEC;
}
#b2 {
  background-color: #85DCB6;
  color: #D49BAE;
}
#b3 {
  background-color: #E8A87C;
  color: #E87A5D;
}
#b4 {
  background-color: #41B3A3;
  color: #BBCB50;
}
#h {
  font-size: 1.2em;
}
.box {
  width: 1000px;
  border: 1px;
}
